---
name: Bandit
on:
  push: null
  pull_request: null
permissions: {}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Bandit Scan
        uses: shundor/python-bandit-scan@v1.0
        with:
          targets: "."
          severity: high
          confidence: high
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
