name: Actions

on: [push, pull_request]

permissions:
  contents: read
  statuses: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29  # v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Super-linter
        uses: super-linter/super-linter@9c71b206a6acfdde633b68b7dd0c2f2e8f77c225  # v7.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Bandit Scan
        uses: shundor/python-bandit-scan@2fdb03dfd713dfd6a4f5ac9d694f67d5a453b8c8  # v1.0
        with:
          path: "."
          level: high
          confidence: high
          exit_zero: true
