name: Actions

on: [push, pull_request]

permissions:
  contents: read
  statuses: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Super-linter
        uses: super-linter/super-linter@v8.2.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Bandit Scan
        uses: shundor/python-bandit-scan@v1.0
        with:
          path: "."
          level: high
          confidence: high
          exit_zero: true
